@import "style";

#hello-section {
  display: flex;
  flex-direction: column;
  gap: 30px;

  p {
    margin: 0;
  }

  h1 {
    margin-top: 50px;
    margin-bottom: 0;

    font-size: 40px;
    div {
      font-size: 80px;
      background: linear-gradient(139deg, rgba(26,115,232,1) 0%, rgba(52,168,83,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

#filen {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  padding-right: 30px;

  img {
    height: 50px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px !important;
    div {
      font-size: 50px !important;
    }
  }
}